<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs Practice</title>
    <style>
        body{
            background-color: #000;
            color: #fff;
        }
    </style>
</head>
<body>
    <h1>Welcome to Ejs File</h1>
    <ul>
        <li><%= product[0].device %></li>
        <li><%= product[0].company %></li>
        <li><%= product[0].price %></li>
    </ul>
</body>
</html>